@{
    ViewData["Title"] = "CV";
}

<div class="jumbotron">
    <h1 class="display-4">Curriculum vitae</h1>
    <p class="lead">Mon C.V.</p>
    <hr class="my-4">
    <p>Un résumé de mon Curriculum vitæ</p>
    
</div>

<div>
    <h3>Aptitudes et compétences</h3>
    <ul class="list-group">
        <li class="list-group-item active">C# (1 à 8)</li>
        <li class="list-group-item">Cadriciel .NET (1.1, 2.0, 3.5, 4. & 4.5 à 4.8)</li>
        <li class="list-group-item">Cadriciel .NET Core 3.1 & 5</li>
        <li class="list-group-item">ASP.NET</li>
        <li class="list-group-item">Microsoft Visual Studio .NET (2003), Visual Studio 2005 à 2012</li>
        <li class="list-group-item">Microsoft SQL Server (2000 à 2016) (Programmation et administration)</li>
        <li class="list-group-item">Javascript (incluant Jquery, JqueryUI & cie)</li>
        <li class="list-group-item">CSS, incluant BootStrap</li>
        <li class="list-group-item">HTML (toutes versions)</li>
        <li class="list-group-item">PHP</li>
        <li class="list-group-item">Connaissances avancées en indexation de sites web</li>
        <li class="list-group-item">XML</li>
        <li class="list-group-item">MySQL</li>
        <li class="list-group-item">C/C++</li>
        <li class="list-group-item">VB et VB.NET</li>
        <li class="list-group-item">Microsoft Access (versions 95 à 2003)</li>
        <li class="list-group-item">ERP: JD Edwards</li>
        <li class="list-group-item">Création de multiples sites e-commerce</li>
        <li class="list-group-item">ASP classique</li>
        <li class="list-group-item">Oracle</li>
        <li class="list-group-item">Connaissance de JAVA & Perl</li>
        <li class="list-group-item">Adobe GoLive, Macromedia Dreamweaver</li>
        <li class="list-group-item">Adobe Photoshop</li>
        <li class="list-group-item">The Gimp</li>
    </ul>
</div>
<div>
    <h3>Intérets</h3>
    <p class="text-justify">Je suis un fan de marche 🚶‍♂️ et de vélo 🚲. J’adore aussi la lecture 📕. J’aime beaucoup les jeux vidéos 🎮, surtout sur PC 🖥️, ainsi que PS3 et Xbox One.</p>
</div>